<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.bestbuy.tests.SignInTests"/>
      
      <class name="com.bestbuy.utils.SeWrappers"/>
		<class name="com.bestbuy.utils.BeWrappers"/>
		<class name="com.bestbuy.utils.Reports" />
      <class name="com.bestbuy.tests.ShopByMenu"/>
      
      <class name="com.bestbuy.tests.MenuTest"/>
      
      <class name="com.bestbuy.tests.LinksInFooterTest"/>
      <class name =" com.bestbuy.tests.DummyPaymentCheckout"/>
      <class name ="com.bestbuy.tests.BrandByMenuTests"/>
      <class name ="com.bestbuy.tests.BottomLinksFooter"/>
      <class name = "com.bestbuy.tests.BestBuyLinkValidationTest"/>
      <class name ="com.bestbuy.tests.AddingProductsToCartTest"/>
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
